{%extends 'base.html'%}

{% block main%}
<style>
    .button {
        background-color: #08712b;
        text-decoration: none;
        color: #fff;
        padding: 10px 20px;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    a{
        text-decoration: none;
    }

    .workout-days{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

    .day-block{
        margin-right: 60px;
        margin-top: 30px;
    }

    .day{
        font-size: 30px;
    }
    
    .no-days-selected{
        font-size: 30px;
    }



</style>
<h1>Your Workout Days</h1>

<a class="button" href="/select-days">Select Workout Days</a><br><br>

<div class="workout-days">
    {% if length != 0%}
        {% for day in workout_days %}
        <div class="day-block">
            <a href="{{url_for('logs_page',day=day)}}">
                <h1 class="day">
                    {{day}}
                </h1>
            </a>
        </div>
        {%endfor%}
    {%else%}
    <h1 class="no-days-selected">
        Please select workout days to display them here
    </h1>
    {%endif%}
</div>
{%endblock%}