{% extends 'base.html' %}

{% block main %} 
<style>
    .upload{
        background-color: #08712b;
        color: #fff;
        padding: 8px 10px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .submit{
        background-color: #08712b;
        color: #fff;
        padding: 10px 15px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;

    }

    .username{
        background-color: #08712b;
        color: #fff;
        padding: 10px 15px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
    }

    ::placeholder{
        color:#fff;
    }
</style>


<h1>Change Profile Picture</h1>
<form method="post" enctype="multipart/form-data" action="/upload-successful">
    <input class="upload" type="file" name="file"/>
    <input class="submit" type="submit"/>
</form>
<h1>Change Username</h1>
<form method="get" action="/username-changed">
    <input class="username" type="text" name="new_username" placeholder="Enter new username"/>
    <input class="submit" type="submit"/>
</form>
{%endblock%}