{%extends 'base.html'%}

{%block main%} 
<style>
    .input{
        max-width: 50px;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }


    button{
        background-color: #08712b;
        text-decoration: none;
        color: #fff;
        padding: 10px 20px;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>
<form method="post" action="{{url_for('submit_log',routine=routine,day=day)}}">
    {% for _,exercise in inputs.items() %}
            <h2>{{exercise.name}}</h2>
            {% for set in range(exercise.sets|int)%}
                <input class="input" type="number" name="{{ exercise.name }} {{loop.index0}}"
                id="{{ exercise.name }}{{loop.index0}}" placeholder="Set {{loop.index0 + 1}}" required>
            {%endfor%}
    {% endfor %}
    <h1><button type="submit">Finish Logging</button></h1>
</form>
{%endblock%}