{%extends 'base.html'%}

{% block main%}
<style>
    .weekday-checkbox {
  display: none;
}

.weekday-text {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  cursor: pointer;
}

.weekday-checkbox:checked + .weekday-text {
  background-color: #ddd;
}

</style>

<form action="/submit-days" method="POST">
    <label>
      <input type="checkbox" name="day" value="MONDAY" class="weekday-checkbox">
      <span class="weekday-text">Monday</span>
    </label>
    <label>
      <input type="checkbox" name="day" value="TUESDAY" class="weekday-checkbox">
      <span class="weekday-text">Tuesday</span>
    </label>
    <label>
      <input type="checkbox" name="day" value="WEDNESDAY" class="weekday-checkbox">
      <span class="weekday-text">Wednesday</span>
    </label>
    <label>
      <input type="checkbox" name="day" value="THURSDAY" class="weekday-checkbox">
      <span class="weekday-text">Thursday</span>
    </label>
    <label>
      <input type="checkbox" name="day" value="FRIDAY" class="weekday-checkbox">
      <span class="weekday-text">Friday</span>
    </label>
    <label>
      <input type="checkbox" name="day" value="SATURDAY" class="weekday-checkbox">
      <span class="weekday-text">Saturday</span>
    </label>
    <label>
      <input type="checkbox" name="day" value="SUNDAY" class="weekday-checkbox">
      <span class="weekday-text">Sunday</span>
    </label>
    <button type="submit">Submit</button>
  </form>
  
  
  
  
{%endblock%}